<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpAA3CCA7095943EB8EA81F5D9E11304EC" Guid="*">
                <File Id="filDC2F83C5C7C81E0A0215491E2C5AAAE9" KeyPath="yes" Source="$(var.HarvestPath)\BerTlv.dll" />
            </Component>
            <Component Id="cmpFA3E0D3875BF5EDB29FEF68B52D2D931" Guid="*">
                <File Id="fil387494100FB37F18EF822347842E3067" KeyPath="yes" Source="$(var.HarvestPath)\LoadingSpinnerControl.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="*">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" Guid="*">
                <File Id="filA40291A4FBD4719B6995DEB783A39A65" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="*">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpBCE64850DCFDE852FF7075138008C934" Guid="*">
                <File Id="fil0CC81B47CE43423EEAF0142D2DFF11F0" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Toolkit.Mvvm.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp5B6D48026F337C302C09105BA0EF9059" Guid="*">
                <File Id="fil64E47168D874D77C62C272D5B1AA6555" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.deps.json" />
            </Component>
            <Component Id="cmp81A8694BD0C7AD81C708023FAE773D8D" Guid="*">
                <File Id="fil640B640A4E7325EFA7209EBCC75AC9F8" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.dll" />
            </Component>
            <Component Id="cmp2AD42F7922F62D96525E88FEA4BF82DD" Guid="*">
                <File Id="filAF8DE62C58E6B46D2165B2C87248AA2E" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.dll.config" />
            </Component>
            <Component Id="cmpDB5150719259774F3E2C981C4744D48F" Guid="*">
                <File Id="fil9B54646A1608D1BB01DE0E299003735D" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.runtimeconfig.json" />
            </Component>
            <Component Id="cmp0C69636E7BBE1AD1B5B6D6783F3C6DAE" Guid="*">
                <File Id="fil0D6F2A0CA084497CD3003657334A342E" KeyPath="yes" Source="$(var.HarvestPath)\PIVBase.dll" />
            </Component>
            <Component Id="cmp38C8C8720B9E206E84300D54623F364F" Guid="*">
                <File Id="fil4F23AD8C96C5BB4CBC95EDCEBFEAE01A" KeyPath="yes" Source="$(var.HarvestPath)\PrivacyIDEA Client.dll" />
            </Component>
            <Component Id="cmp627F95934DFE8795F8708045A2120F23" Guid="*">
                <File Id="filAEAF8C61AA86723A95F0986173532954" KeyPath="yes" Source="$(var.HarvestPath)\System.CodeDom.dll" />
            </Component>
            <Component Id="cmp818DD9321384D39D5217A67E2E7BCE5F" Guid="*">
                <File Id="filFE8AF657E5AB8F90D19F7FE38C683891" KeyPath="yes" Source="$(var.HarvestPath)\System.Formats.Cbor.dll" />
            </Component>
            <Component Id="cmpB2F9EBAF385E9E29B5A93F58B0D73177" Guid="*">
                <File Id="filA39AFD83E426A11FDBCFCA1B11CFEE01" KeyPath="yes" Source="$(var.HarvestPath)\System.Management.dll" />
            </Component>
            <Component Id="cmpCC819D78638D2AE9194EF1CACA4D1678" Guid="*">
                <File Id="fil0F6F1129121FA8A4F425185415FFBDC1" KeyPath="yes" Source="$(var.HarvestPath)\Yubico.Core.dll" />
            </Component>
            <Component Id="cmp5FF7899E92EDB8FCC6B405FE4CA1E01C" Guid="*">
                <File Id="fil4B490EC9C0663F01478272147E91CB4F" KeyPath="yes" Source="$(var.HarvestPath)\Yubico.DotNetPolyfills.dll" />
            </Component>
            <Component Id="cmpC60FD0D246EE221335BA1BF561AB863E" Guid="*">
                <File Id="fil5F6FE4CD5A9568FA5AE65DBEDB10060F" KeyPath="yes" Source="$(var.HarvestPath)\Yubico.NativeShims.dll" />
            </Component>
            <Component Id="cmp8274D48C5D279ECDAB6AFB3A3D69A485" Guid="*">
                <File Id="fil50F15D18D3F247C80E7C96477AE604AD" KeyPath="yes" Source="$(var.HarvestPath)\Yubico.YubiKey.dll" />
            </Component>
            <Component Id="cmpE610D7F651687D050F77B8AEBE0ED33C" Guid="*">
                <File Id="filB5AD45F7C07C5B4B4C0E91EE666E1498" KeyPath="yes" Source="$(var.HarvestPath)\YubiKeyPIV.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmpAA3CCA7095943EB8EA81F5D9E11304EC" />
            <ComponentRef Id="cmpFA3E0D3875BF5EDB29FEF68B52D2D931" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmpBCE64850DCFDE852FF7075138008C934" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp5B6D48026F337C302C09105BA0EF9059" />
            <ComponentRef Id="cmp81A8694BD0C7AD81C708023FAE773D8D" />
            <ComponentRef Id="cmp2AD42F7922F62D96525E88FEA4BF82DD" />
            <ComponentRef Id="cmpDB5150719259774F3E2C981C4744D48F" />
            <ComponentRef Id="cmp0C69636E7BBE1AD1B5B6D6783F3C6DAE" />
            <ComponentRef Id="cmp38C8C8720B9E206E84300D54623F364F" />
            <ComponentRef Id="cmp627F95934DFE8795F8708045A2120F23" />
            <ComponentRef Id="cmp818DD9321384D39D5217A67E2E7BCE5F" />
            <ComponentRef Id="cmpB2F9EBAF385E9E29B5A93F58B0D73177" />
            <ComponentRef Id="cmpCC819D78638D2AE9194EF1CACA4D1678" />
            <ComponentRef Id="cmp5FF7899E92EDB8FCC6B405FE4CA1E01C" />
            <ComponentRef Id="cmpC60FD0D246EE221335BA1BF561AB863E" />
            <ComponentRef Id="cmp8274D48C5D279ECDAB6AFB3A3D69A485" />
            <ComponentRef Id="cmpE610D7F651687D050F77B8AEBE0ED33C" />
        </ComponentGroup>
    </Fragment>
</Wix>