<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpAA3CCA7095943EB8EA81F5D9E11304EC" Guid="*">
                <File Id="filDC2F83C5C7C81E0A0215491E2C5AAAE9" KeyPath="yes" Source="$(var.HarvestPath)\BerTlv.dll" />
            </Component>
            <Component Id="cmpFA3E0D3875BF5EDB29FEF68B52D2D931" Guid="*">
                <File Id="fil387494100FB37F18EF822347842E3067" KeyPath="yes" Source="$(var.HarvestPath)\LoadingSpinnerControl.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="*">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" Guid="*">
                <File Id="filA40291A4FBD4719B6995DEB783A39A65" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="*">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmpBCE64850DCFDE852FF7075138008C934" Guid="*">
                <File Id="fil0CC81B47CE43423EEAF0142D2DFF11F0" KeyPath="yes" Source="$(var.HarvestPath)\Microsoft.Toolkit.Mvvm.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.HarvestPath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp5B6D48026F337C302C09105BA0EF9059" Guid="*">
                <File Id="fil64E47168D874D77C62C272D5B1AA6555" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.deps.json" />
            </Component>
            <Component Id="cmp81A8694BD0C7AD81C708023FAE773D8D" Guid="*">
                <File Id="fil640B640A4E7325EFA7209EBCC75AC9F8" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.dll" />
            </Component>
            <Component Id="cmp2AD42F7922F62D96525E88FEA4BF82DD" Guid="*">
                <File Id="filAF8DE62C58E6B46D2165B2C87248AA2E" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.dll.config" />
            </Component>
            <Component Id="cmpDB5150719259774F3E2C981C4744D48F" Guid="*">
                <File Id="fil9B54646A1608D1BB01DE0E299003735D" KeyPath="yes" Source="$(var.HarvestPath)\PISmartcardClient.runtimeconfig.json" />
            </Component>
            <Component Id="cmp0C69636E7BBE1AD1B5B6D6783F3C6DAE" Guid="*">
                <File Id="fil0D6F2A0CA084497CD3003657334A342E" KeyPath="yes" Source="$(var.HarvestPath)\PIVBase.dll" />
            </Component>
            <Component Id="cmp38C8C8720B9E206E84300D54623F364F" Guid="*">
                <File Id="fil4F23AD8C96C5BB4CBC95EDCEBFEAE01A" KeyPath="yes" Source="$(var.HarvestPath)\PrivacyIDEA Client.dll" />
            </Component>
            <Component Id="cmp3FBAA4F0E15CB461BBF307C1077AE778" Guid="*">
                <File Id="filBED3624721344349970AE07B226C9796" KeyPath="yes" Source="$(var.HarvestPath)\System.Formats.Asn1.dll" />
            </Component>
            <Component Id="cmpB2F9EBAF385E9E29B5A93F58B0D73177" Guid="*">
                <File Id="filA39AFD83E426A11FDBCFCA1B11CFEE01" KeyPath="yes" Source="$(var.HarvestPath)\System.Management.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="*">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.HarvestPath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp57EA072774F603C6027C2714CBDD71F1" Guid="*">
                <File Id="filEA9C6EF0458E2F0D8620A7A9AE239BAD" KeyPath="yes" Source="$(var.HarvestPath)\System.Security.Cryptography.Cng.dll" />
            </Component>
            <Component Id="cmpCC819D78638D2AE9194EF1CACA4D1678" Guid="*">
                <File Id="fil0F6F1129121FA8A4F425185415FFBDC1" KeyPath="yes" Source="$(var.HarvestPath)\Yubico.Core.dll" />
            </Component>
            <Component Id="cmp5FF7899E92EDB8FCC6B405FE4CA1E01C" Guid="*">
                <File Id="fil4B490EC9C0663F01478272147E91CB4F" KeyPath="yes" Source="$(var.HarvestPath)\Yubico.DotNetPolyfills.dll" />
            </Component>
            <Component Id="cmp8274D48C5D279ECDAB6AFB3A3D69A485" Guid="*">
                <File Id="fil50F15D18D3F247C80E7C96477AE604AD" KeyPath="yes" Source="$(var.HarvestPath)\Yubico.YubiKey.dll" />
            </Component>
            <Component Id="cmpE610D7F651687D050F77B8AEBE0ED33C" Guid="*">
                <File Id="filB5AD45F7C07C5B4B4C0E91EE666E1498" KeyPath="yes" Source="$(var.HarvestPath)\YubiKeyPIV.dll" />
            </Component>
            <Directory Id="dir58E8247E2885C01898CAD009F9EFD8BA" Name="runtimes">
                <Directory Id="dir4368456DE80A31A0FABEF422CF868A74" Name="linux-arm64">
                    <Directory Id="dirD4D406B0649E8BA45C0D436FC1C3D7B7" Name="native">
                        <Component Id="cmp2B80E9A110DA8F1A7E000FA87C76424A" Guid="*">
                            <File Id="fil5C0FE802D2E54C8E743FB28AEE92E807" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\linux-arm64\native\libYubico.NativeShims.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir986BEF73997BE02DCDBC34E856C19B36" Name="linux-x64">
                    <Directory Id="dirE1E651EB5B4F1522E5E10B81FEA70677" Name="native">
                        <Component Id="cmpEBA095BFA76DE6BD9AD64BCBA3A3773D" Guid="*">
                            <File Id="filC3BAE6CE49FD558DD70B15EE8753B24C" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\linux-x64\native\libYubico.NativeShims.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirC0CA974BC478884507E349436F81698C" Name="linux-x86">
                    <Directory Id="dir0EDA4459BC820EC0980B27A47C7CF5AA" Name="native">
                        <Component Id="cmpCF854C896B0D5F0612F3D06827817704" Guid="*">
                            <File Id="filB515FAC20DD6BA24EF5300120EC8ADD9" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\linux-x86\native\libYubico.NativeShims.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir2F16A789372805F097C242E23779E164" Name="osx-arm64">
                    <Directory Id="dir2A5033986A8D1FF1B6E317B1A9949571" Name="native">
                        <Component Id="cmp8B9131635640547D9939266333999B99" Guid="*">
                            <File Id="filA828D6B16716CB9648645CD1285D0AC2" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\osx-arm64\native\libYubico.NativeShims.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir42B901FB10752B2744AE05D46EAF35EC" Name="osx-x64">
                    <Directory Id="dir71D0D403061D4DE071C64AEB774E16CF" Name="native">
                        <Component Id="cmpCE727B39567598667C01FB2B4CA88B51" Guid="*">
                            <File Id="fil1D4162D04B97133242194D6C15A6857A" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\osx-x64\native\libYubico.NativeShims.dylib" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir63DDE6A8C685C041E2FA919ED2276FA9" Name="ubuntu-arm64">
                    <Directory Id="dir83AF9874FAFA9898CFE0E1C110FAAD6C" Name="native">
                        <Component Id="cmp848871FCC66D2EB64B7C2A7F43F262B1" Guid="*">
                            <File Id="fil60F2D33E7FBAAB9214F9F18CE4519718" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\ubuntu-arm64\native\libYubico.NativeShims.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir4B647E1533D555D760F8800CDBA3D943" Name="ubuntu-x64">
                    <Directory Id="dir8E115DF97FB190EA19AC987D8FD830B9" Name="native">
                        <Component Id="cmpDEA68DEA5724F589C3F5AD81CAFBF1C9" Guid="*">
                            <File Id="filB3874764A17507FD1D46167165D22CC9" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\ubuntu-x64\native\libYubico.NativeShims.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirAAB4534AD068E4E603B416D16DAE5A36" Name="ubuntu-x86">
                    <Directory Id="dirB6A5B005497767E6218D6535A564D3D7" Name="native">
                        <Component Id="cmpFB80E0AA832F8053820991772192867D" Guid="*">
                            <File Id="fil49C0980009FE6081DE12FB47521BD771" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\ubuntu-x86\native\libYubico.NativeShims.so" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir9BE9104649A116CC7BCCF4D9CCD3331B" Name="win">
                    <Directory Id="dirD19B0610952D1EE2D417EB5361695989" Name="lib">
                        <Directory Id="dirE6C91B9343029DAC8410CDFBF32A7D8C" Name="netcoreapp2.0">
                            <Component Id="cmpCD2DFF54292DDAB4B8187528A383DB5A" Guid="*">
                                <File Id="filC699983038D16B49E3E9CED528310DB8" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\netcoreapp2.0\System.Management.dll" />
                            </Component>
                        </Directory>
                        <Directory Id="dir9CFC3E32F9CD3F5D85C1CE5068697BC1" Name="netcoreapp3.0">
                            <Component Id="cmp92C7610D3B3FFEAE3CB6CBCF48343162" Guid="*">
                                <File Id="filC47416ED232D71945FF28710D1B42707" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win\lib\netcoreapp3.0\System.Security.Cryptography.Cng.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirFF6AADC4B618984E1542CDA5FCBD7BB1" Name="win-arm64">
                    <Directory Id="dir65EC979D52EB501E3A656AA03EE4F2F5" Name="native">
                        <Component Id="cmp25CB22BC6F8944C858545EE744124479" Guid="*">
                            <File Id="fil9393BC0AB1D969F1A54728D014C0144B" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-arm64\native\Yubico.NativeShims.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirB9C75524282911E40C3C964A8836A714" Name="win-x64">
                    <Directory Id="dir1F9DF9DD2FB29AE2942604FAC206D5C4" Name="native">
                        <Component Id="cmpEA218A3357700371859171B63B08164E" Guid="*">
                            <File Id="fil3FBDB8082590F88CEDE31B25475B6FB0" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x64\native\Yubico.NativeShims.dll" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dir92F336DAA82E5A629052407A3F87EF27" Name="win-x86">
                    <Directory Id="dir2B43AAE918D399CEF13EC6CBA2D3D5EA" Name="native">
                        <Component Id="cmp3B5F9439333086D2F30B2108A5FA9F90" Guid="*">
                            <File Id="filC528F4ECFC87417864C9A709D64243F6" KeyPath="yes" Source="$(var.HarvestPath)\runtimes\win-x86\native\Yubico.NativeShims.dll" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmpAA3CCA7095943EB8EA81F5D9E11304EC" />
            <ComponentRef Id="cmpFA3E0D3875BF5EDB29FEF68B52D2D931" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmpBCE64850DCFDE852FF7075138008C934" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp5B6D48026F337C302C09105BA0EF9059" />
            <ComponentRef Id="cmp81A8694BD0C7AD81C708023FAE773D8D" />
            <ComponentRef Id="cmp2AD42F7922F62D96525E88FEA4BF82DD" />
            <ComponentRef Id="cmpDB5150719259774F3E2C981C4744D48F" />
            <ComponentRef Id="cmp0C69636E7BBE1AD1B5B6D6783F3C6DAE" />
            <ComponentRef Id="cmp38C8C8720B9E206E84300D54623F364F" />
            <ComponentRef Id="cmp3FBAA4F0E15CB461BBF307C1077AE778" />
            <ComponentRef Id="cmpB2F9EBAF385E9E29B5A93F58B0D73177" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmp57EA072774F603C6027C2714CBDD71F1" />
            <ComponentRef Id="cmpCC819D78638D2AE9194EF1CACA4D1678" />
            <ComponentRef Id="cmp5FF7899E92EDB8FCC6B405FE4CA1E01C" />
            <ComponentRef Id="cmp8274D48C5D279ECDAB6AFB3A3D69A485" />
            <ComponentRef Id="cmpE610D7F651687D050F77B8AEBE0ED33C" />
            <ComponentRef Id="cmp2B80E9A110DA8F1A7E000FA87C76424A" />
            <ComponentRef Id="cmpEBA095BFA76DE6BD9AD64BCBA3A3773D" />
            <ComponentRef Id="cmpCF854C896B0D5F0612F3D06827817704" />
            <ComponentRef Id="cmp8B9131635640547D9939266333999B99" />
            <ComponentRef Id="cmpCE727B39567598667C01FB2B4CA88B51" />
            <ComponentRef Id="cmp848871FCC66D2EB64B7C2A7F43F262B1" />
            <ComponentRef Id="cmpDEA68DEA5724F589C3F5AD81CAFBF1C9" />
            <ComponentRef Id="cmpFB80E0AA832F8053820991772192867D" />
            <ComponentRef Id="cmpCD2DFF54292DDAB4B8187528A383DB5A" />
            <ComponentRef Id="cmp92C7610D3B3FFEAE3CB6CBCF48343162" />
            <ComponentRef Id="cmp25CB22BC6F8944C858545EE744124479" />
            <ComponentRef Id="cmpEA218A3357700371859171B63B08164E" />
            <ComponentRef Id="cmp3B5F9439333086D2F30B2108A5FA9F90" />
        </ComponentGroup>
    </Fragment>
</Wix>